{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Administración de contactos</title>
</head>
<body>
    <div class="container">
        <h1>Administración de datos personales</h1>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Contactos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/agenda">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agenda/contactos_ingresar">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agenda/contactos_consultar">Consultar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agenda/contactos_borrar">Borrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Actualizar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Reporte JSON</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
