* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.5;
}

th,
td {
    border-style: solid;
    border-width: 1px;
    text-align: justify;
    color: gray;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}