            .error {
            text-align: center;
            padding: 20px;
            color: red;
            width: 50%;
            margin-left: 25%;
            border-style: solid;
            border-color: red;
            border-width: 1px;
        }
    </style>